In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
#swallow copy
# diffent variablles with same value shared address
a=20
b=20
print(id(a))
print(id(b))

140720103527840
140720103527840

In [11]:
#deep copy
a=1
b=a
print(id(a))
print(id(b))

140720103527232
140720103527232

In [12]:
a=20
print(type(a))

<class 'int'>

In [17]:
a= 10//10 #floor division
print(a)
print(type(a))

1
<class 'int'>

In [24]:
#tupple
a =("pak","is","tan",True,199)
print(a[-1])

199

In [25]:
#list
a =["pak","is","
print(a[0])

pak

In [32]:
#set
a= {"pak","is","tan",True,1234}
a =list(a)
print(a[1])

True

In [43]:
#set with key values
data ={
    "key1" : "janu value 1",
    2 : "janu value 2",
     3 :   True ,
"key4" : ["Janu","ki","jaam"],
    ##kiya hum key mein list k kesi 1 item to access krna chye to kr  sktay hain ?
    5 : ("lali",True,100)  
}
print(data["key4"])

['Janu', 'ki', 'jaam']

# slicing

In [56]:
a ="janu ki jaan"
print(a[::])
print(a[0:5:])
#print(a[-1:-8:]) # ye use nahi kr sktay hum?
#print(a[1:5:-1]) # can or cant?
print(a[::-1])

janu ki jaan
janu
naaj ik unaj

In [57]:
a = "Muhammad Husnain"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
a = "i love my Ami"
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.title())

I LOVE MY AMI
i love my ami
I love my ami
I Love My Ami

In [64]:
a = "     Muhammad     Husnain      "
print(a.lstrip())

Muhammad     Husnain

In [65]:
a = "     Muhammad     Husnain      "
print(a.rstrip())

     Muhammad     Husnain

In [68]:
a = "     Muhammad     Husnain      "
print(a.strip())

Muhammad     Husnain

In [73]:
a = "     Muhammad     Husnain      "
print(a.replace(" ",""))

MuhammadHusnain

In [86]:
a = "     Muhammad     Husnain      "
b = a.split()
print(" ".join(b))

Muhammad Husnain

In [88]:
a = "love you Allah"
a.find("Allah")

9

In [89]:
a = "love you Allah"
a.index("Allah")

9

In [ ]:
##smjh nahi yaa
b = input("Search:")
print(a[a.index(b): a.index(b)+len(b)])
a[a.index(b): ]

In [97]:
student_name = "jani"
F_name = "Alyas"
fee = 100
card ="""
Arid University 
Cricket MAtch 
Student NAme : %s
Father Name : %s
fee : %d
"""

print(card%(student_name ,F_name, fee))

Arid University
Cricket MAtch
Student NAme : jani
Father Name : Alyas
fee : 100

In [103]:
student_name = "jani"
F_name = "Alyas"
fee = 100

a=f"""
Arid University 
Cricket MAtch 
Student NAme : {student_name}
Father Name : {F_name}
fee : {fee}
"""

print(a)

Arid University
Cricket MAtch
Student NAme : jani
Father Name : Alyas
fee : 100

In [1]:
"1"+"1"

'11'

In [6]:
names = ["hasnain","jawad","hassan"]
print(names[0],names[1],names[2])
print(*names)
print(names)
# what is this * means

hasnain jawad hassan
hasnain jawad hassan
['hasnain', 'jawad', 'hassan']

In [7]:
name,fname,fee = "hasnain","ilyas","200"
print(name,fname,fee)

hasnain ilyas 200

In [9]:
a=["hasnain","ilyas",1234]
name=a[0]
fname=a[1]
fee=a[2]
print(name,fname,fee)

hasnain ilyas 1234

In [12]:
##intresting
a=["hasnain","ilyas",1234]
name, fname, pw = a
print(name,fname,pw)

hasnain ilyas 1234